* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: blueviolet;
}
#main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

/* Div1 */
#div1 {
  background-color: rgb(84, 83, 84);
  width: 250px;
  height: 250px;
  animation: effect1 10s linear 0.1s infinite alternate;
  transition: background-color 2s, width 2s, height 2s;
}

/* Hover for Div1 */
#div1:hover {
  background-color: black;
  width: 200px;
  height: 200px;
  animation: none;
}
/* Animations for Div1 */
@keyframes effect1 {
  0% {
    border: 100px solid violet;
  }
  10% {
    border-right: 90px solid indigo;
  }
  20% {
    border-bottom: 80px solid blue;
  }
  30% {
    border-left: 70px solid green;
  }
  40% {
    border-top: 60px solid yellow;
  }

  50% {
    border: 50px solid rgb(255, 97, 39);
  }
  60% {
    border-left: 40px solid orange;
  }
  70% {
    border-bottom: 30px solid red;
  }
  80% {
    border-right: 20px solid none;
  }
  90% {
    border-top: 10px solid aquamarine;
  }
  100% {
    border: 5px solid pink;
  }
}
/* Div2 */
#div2 {
  background-color: red;
  width: 200px;
  height: 200px;
  transform: scale(1, 2);
}
/* Hover for Div2 */
#div2:hover {
  animation: effect2 2s infinite;
  animation-fill-mode: backwards;
}
/* Animations for Div2 */
@keyframes effect2 {
  from {
    transform: rotate(0deg);
    background-color: red;
  }
  to {
    transform: rotate(359deg);
    background-color: darkgray;
  }
}
/* Div3 */
#div3 {
  background-color: green;
  width: 150px;
  height: 150px;
  transform: skew(-30deg, -10deg);
  transition: transform 2s;
}
/* Hover for Div3 */
#div3:hover {
  animation: effect3 1s;
  animation-fill-mode: backwards;
  transform: skew(0deg, 0deg);
}
/* Animations for Div3 */
@keyframes effect3 {
  from {
    background-color: green;
  }
  to {
    background-color: pink;
  }
}
/* Div4 */
#div4 {
  background-color: yellow;
  width: 150px;
  height: 150px;
  transform: translate(25px, 50px);
  position: relative;
  border-radius: 50%;
  transition: height 2s width 2s;
}
/* Hover for Div4 */
#div4:hover {
  height: 100px;
  width: 100px;
  animation: effect4 1s;
  animation-fill-mode: forwards;
  transform: translate(0, 0);
}
/* Animations for Div4 */
@keyframes effect4 {
  0% {
    transform: translate(25px, 50px);
  }
  20% {
    transform: translate(20px, 40px);
  }
  40% {
    transform: translate(15px, 30px);
  }
  60% {
    transform: translate(10px, 20px);
  }
  80% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }

  from {
    border-radius: 50%;
  }
  to {
    border-radius: 0;
    width: 100px;
    height: 100px;
  }
}
/* Div5 */
#div5 {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: color 0.1s;
  animation: effect5 1s ease-in infinite alternate;
}

/* Hover for Div5 */
#div5:hover {
  background-color: red;
}
/* Animations for Div5 */
@keyframes effect5 {
  0% {
    width: 40px;
    height: 60px;
    transform: translateY(-240px);
  }
  50% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 60px;
    height: 40px;
    transform: translateY(240px);
  }
}
